openapi: 3.2.0
info:
  title: Open Charge Map Mediaitem API
  version: '3.1'
  termsOfService: https://openchargemap.org/site/about/terms
  contact:
    name: Contact
    url: https://openchargemap.org/site/about
  description: The Open Charge Map API provides access to the worlds largest registry of charging locations as Open Data.
servers:
- url: https://api.openchargemap.io/v3
  description: API Base URL
security:
- APIKeyQueryString: []
- APIKeyHeader: []
tags:
- name: Mediaitem
paths:
  /mediaitem:
    post:
      summary: Add Media Item (Photo)
      operationId: post-mediaitem
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    chargePointID: 156185
                    comment: Test
                    imageDataBase64: data:image/jpeg;base64,EXAMPLEBASE64ENCODEDJPEGORPNG
                properties:
                  status:
                    type: string
                    description: status code OK
                  description:
                    type: string
                required:
                - status
              examples:
                example-response:
                  value:
                    status: OK
                    description: OK
      description: Submit a photo for a specific charging location
      security:
      - UserAuthentication: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  chargePointID: 0
                  comment: string
                  imageDataBase64: string
              properties:
                chargePointID:
                  type: integer
                  description: ID value for the OCM site (POI) this image relates to.
                comment:
                  type: string
                  minLength: 1
                  description: Optional description of image or context
                imageDataBase64:
                  type: string
                  minLength: 1
                  description: BASE64 encoded data
              required:
              - chargePointID
              - imageDataBase64
            examples:
              example-media-upload:
                value:
                  chargePointID: 1234
                  comment: An example comment
                  imageDataBase64: data:image/jpeg;base64,<BASE64_ENCODED_DATA>
      tags:
      - Mediaitem
components:
  securitySchemes:
    APIKeyQueryString:
      name: key
      type: apiKey
      in: query
      description: API Key supplied as query string parameter
    APIKeyHeader:
      name: X-API-Key
      type: apiKey
      in: header
    UserAuthentication:
      type: http
      scheme: bearer
