openapi: 3.2.0
info:
  title: Open Charge Map Comment API
  version: '3.1'
  termsOfService: https://openchargemap.org/site/about/terms
  contact:
    name: Contact
    url: https://openchargemap.org/site/about
  description: The Open Charge Map API provides access to the worlds largest registry of charging locations as Open Data.
servers:
- url: https://api.openchargemap.io/v3
  description: API Base URL
security:
- APIKeyQueryString: []
- APIKeyHeader: []
tags:
- name: Comment
paths:
  /comment:
    post:
      summary: Submit Comment or Checkin
      operationId: post-comment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: string
                    minLength: 1
                  description:
                    type: string
                    minLength: 1
                required:
                - status
                - description
                x-examples:
                  example-1:
                    status: OK
                    description: OK
              examples:
                example-response:
                  value:
                    status: OK
                    description: OK
        '400':
          description: Bad Request
      description: Submit a user comment or checkin for a specific charging location
      security:
      - UserAuthentication: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  ChargePointID: 12345
                  CommentTypeID: 10
                  UserName: A. Nickname
                  Comment: This place is awesome, free cake for EV owners!
                  Rating: 5
                  RelatedURL: http://awesomevplace.com
                  CheckinStatusTypeID: 0
              properties:
                chargePointID:
                  type: integer
                  description: This must be a valid POI ID
                commentTypeID:
                  type: integer
                  description: This must be a valid Comment Type ID as per UserCommentTypes found in Core Reference Data. If left as null then General Comment will be used.
                userName:
                  type: string
                  minLength: 1
                  description: This is an optional name to associate with the submission, for authenticated users their profile username is used.
                  maxLength: 100
                comment:
                  type: string
                  minLength: 1
                  maxLength: 4000
                  description: This is an optional comment to describe the charging experience, may include guidance for future users.
                rating:
                  type: integer
                  example: 3
                  description: Optional integer rating between 1 = Worst, 5 = Best.
                relatedURL:
                  type: string
                  minLength: 1
                  description: Optional website URL for related information
                  maxLength: 500
                checkinStatusTypeID:
                  type: integer
                  description: Optional valid CheckStatusTypeID to indicate overall catgeory and success/failure to use equipment e.g. 10 = Charged Successfully.
              required:
              - chargePointID
            examples:
              example-1:
                value:
                  chargePointID: 0
                  commentTypeID: 0
                  userName: string
                  comment: string
                  rating: 3
                  relatedURL: string
                  checkinStatusTypeID: 0
      tags:
      - Comment
components:
  securitySchemes:
    APIKeyQueryString:
      name: key
      type: apiKey
      in: query
      description: API Key supplied as query string parameter
    APIKeyHeader:
      name: X-API-Key
      type: apiKey
      in: header
    UserAuthentication:
      type: http
      scheme: bearer
